.background-container3{
    position: relative;
    /*overflow: hidden;*/
    background: url('../New_folder/h1-background-img-1\ 1.png') no-repeat center center;
    background-size:cover;
    /*width:100vw;*/
    height:83vh;
  }
  .carousel-item{
    height: 32rem;
    color: #FFFFFF;
  
  }
  @media (max-width:1000px) {
    .quote{
        height: 100% !important;
    }
    .promote{
        top: 17% !important;

    }

    .reviews{
        line-height: 25px !important;
        left: 54% !important;
        top: 25% !important;
        font-size: 17px !important;
        letter-spacing: 2px !important;

    }
    .about{
        left: 45% !important;
        top: 23% !important;
    }
    .client-paragraph{
        margin-left: 0px !important;
        margin-top: 70% !important;
    }
    .client-ellipse1{
        margin-top: 8rem !important;
        margin-left: 5rem !important;
    }
    .client-ellipse2{
        margin-top:11rem !important;
        margin-left: 8rem !important; 
    }
    .client-vector{
        bottom: 216px !important;
        right: 262px !important;
    }
    .carousel-control-prev{
        display: none !important;
      }
      .carousel-control-next{
        display: none !important;
      }
}


