@font-face {
    font-family: 'Circular Std';
    src: url('..//circular-std-font-family/CircularStd-Book.woff2') format('woff2'),
         url('..//circular-std-font-family/CircularStd-Book.woff') format('woff');
    /* Add more font weights and formats if needed */
    font-weight: normal;
    font-style: normal;
  }















