
@media (max-width:1000px) {
    .context{
      position: relative;
      top:6%;
    }
    
  }
@media (max-width:1000px) {
    .contex{
        line-height: 80px;
        font-size: 100px;

    }
    .nav-text{
        font-size: 42px !important;
    }
}


